<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmc.final_project.dao.IFileDao">
	<insert id="fileInsert" parameterType="HashMap">
		INSERT INTO CONTENTS(C_P_ID, C_COMMENT) VALUES(#{p_id},#{sysFileName})
	</insert>
	
	
	<select id="SelectFile" parameterType="String" resultType="FileBeans">
		SELECT * FROM CONTENTS WHERE P_ID = #{id}
	</select>
</mapper>