<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pmc.final_project.dao.IMemberDao">
	<select id="getmemberAllList" resultType="Member" parameterType="int">
		SELECT * FROM MEMBER ORDER BY M_NAME ASC
	</select>
	<select id="getMemberCount" resultType="int">
		SELECT * FROM MEMBER
	</select>
	<select id ="getmemberRetime" resultType="int">
		SELECT SP_TIME AS M_RETIME FROM MYPC
	</select>
</mapper>