<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pmc.final_project.dao.IMemberDao">
	<select id="getmemberAllList" resultType="Member" parameterType="String">
		SELECT * FROM PCMEMBER WHERE P_ID=#{p_id}
	</select>

	<select id="getMemberCount" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM PCMEMBER WHERE P_ID=#{p_id}
	</select>
	
	<select id="getmemberInfo" resultType="Member" parameterType="String">
		SELECT * FROM PCMEMBER WHERE M_ID=#{m_id}
	</select>
	
	<update id="memberTimeAdd" parameterType="HashMap">
		UPDATE SIGNPC SET SP_TIME=#{m_time} WHERE SP_M_ID=#{m_id}
	</update>
	
	<select id="TimeSelect" parameterType="HashMap" resultType="String">
		SELECT M_TIME FROM PCMEMBER WHERE P_ID = #{p_id} AND M_ID = #{m_id}
	</select>
	
	<select id="memberSearch" parameterType="HashMap" resultType="Member">
		SELECT * FROM PCMEMBER WHERE P_ID=#{p_id} AND M_NAME LIKE #{res} OR M_ID LIKE #{res}
	</select>
	
	<select id="getOMmemberAllList" resultType="Member" parameterType="String">
		SELECT * FROM PCMEMBER
	</select>
	
	<select id="getOMmemberCount" resultType="int">
		SELECT COUNT(*) FROM PCMEMBER
	</select>
	
	<select id="getOMmemberInfo" resultType="Member" parameterType="String">
		SELECT * FROM PCMEMBER WHERE M_ID=#{m_id}
	</select>
	
	<select id="OMMemberSearch" parameterType="String" resultType="Member">
		SELECT * FROM PCMEMBER WHERE M_NAME LIKE #{res2} OR M_ID LIKE #{res2}
	</select>
	
	<select id="getBlockSearch" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM BLOCK WHERE B_M_ID=#{m_id}
	</select>
	
	<insert id="BlockInsert" parameterType="HashMap">
		INSERT INTO BLOCK (B_M_ID, B_P_ID, B_CONTENT)
		VALUES (#{m_id}, #{p_id}, #{content})
	</insert>
	
	<delete id="BlockDelete" parameterType="HashMap">
		DELETE FROM BLOCK WHERE B_M_ID=#{m_id} AND B_P_ID=#{p_id}
	</delete>
	<select id="SelBlock" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM BLOCK WHERE B_M_ID =#{m_id}
	</select>
</mapper>