<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pmc.final_project.dao.IMemberDao">
	<select id="getmemberAllList" resultType="Member">
		SELECT * FROM PCMEMBER 		
	</select>

	<select id="getMemberCount" resultType="int">
		SELECT COUNT(*) FROM PCMEMBER
	</select>
	
	<select id="getmemberInfo" resultType="Member" parameterType="string">
		SELECT * FROM PCMEMBER WHERE M_ID=#{m_id}
	</select>
	
	<update id="memberTimeAdd" parameterType="HashMap">
		UPDATE SIGNPC SET SP_TIME=#{m_time} WHERE SP_M_ID=#{m_id}
	</update>
</mapper>