<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pmc.final_project.dao.IPayDao">
	 <select id="getPayList" resultType="PayMentDetail">
      SELECT * FROM PAYLIST
   </select>
   <select id="SearchPayList" resultType="int">
   		SELECT COUNT(U_START) FROM PAYLIST 
   </select>
   
	
</mapper>