<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pmc.final_project.dao.IPayDao">

 <select id="datesearch" resultType="PayMentDetail" parameterType="HashMap">
      SELECT * FROM PAYLIST WHERE PC_P_ID=#{p_id} AND U_START LIKE #{plus}
      
   </select>

	<select id="getPayList" resultType="PayMentDetail" parameterType="String">
      SELECT * FROM PAYLIST WHERE PC_P_ID=#{p_id}
   </select>

   
	<select id="getmemberPaylist" parameterType="String" resultType="PayMentDetail" >
		SELECT * FROM PAYLIST WHERE U_M_ID=#{m_id}
	</select>
	
	<select id="getmemberPayCount" resultType="int" parameterType="String">
		SELECT COUNT(U_M_ID) FROM PAYLIST WHERE U_M_ID=#{m_id}
	</select>
	
	<select id="cateSearch" resultType="PayMentDetail" parameterType="String">
		SELECT * FROM PAYLIST WHERE PC_NAME=#{selcate}
	</select>
	<select id="selectUselog" parameterType="String" resultType="String">
		SELECT U_CODE FROM USELOG WHERE U_M_ID = #{id} AND U_CATE = '사용'
	</select>
	<insert id="insertPay" parameterType="Paybean">
		INSERT INTO PAYLOG VALUES (#{pl_u_code},#{pl_pr_id},#{pl_qty},#{pl_price},#{pl_payment} ,default)
	</insert>
	<select id="selectCate" parameterType="String" resultType="String">
		SELECT PC_NAME FROM PRODUCTCATE WHERE PC_P_ID = #{id}
	</select>
<select id="SelectPayList1" parameterType="String" resultType="PayMentDetail" >
		SELECT * FROM PAYLIST WHERE U_M_ID=#{id}
	</select>
</mapper>