<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pmc.final_project.dao.IProductDao">
	<select id="getProductList" resultType="ProductBean" >
	SELECT * FROM PRODUCTALL
	</select>

	<select id="getProductCount" resultType="int">
      SELECT COUNT(*) FROM PRODUCT
   </select>
   
   <select id="ProductDetail" resultType="ProductBean" parameterType="String">
      SELECT * FROM PRODUCTALL WHERE PR_ID=#{pr_id}
   </select>
  
  <select id="selectcountcate" resultType="String" parameterType="String">
  	  SELECT MAX(PC_ID) FROM PRODUCTCATE WHERE PC_P_ID = #{id}
  </select>
  
  <insert id="dbsend" parameterType="HashMap">
  	  INSERT INTO PRODUCTCATE VALUES (#{pc_id},#{name},#{p_id})
  </insert>
  
  <select id="getCateList" resultType="ProductCate" >
	SELECT * FROM PRODUCTCATE
	</select>
  
</mapper>